.note {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.note .noteTitle {
  padding: 30px;
}
.note .noteWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.note .noteWrap .infoWrap {
  width: 33.3333333333%;
  padding: 20px;
  text-align: center;
}
.note .noteWrap .infoWrap .noteImg img {
  display: block;
  margin: 0 auto;
}
.note .noteWrap .infoWrap .noteName {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
.note .noteWrap .infoWrap .noteIntro {
  line-height: 1.2;
}