.useContentWrap {
  width: 70%;
  border: 1px solid #999;
  margin: 40px auto;
  display: flex;
  align-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.useContentWrap .useContent {
  width: 50%;
}
.useContentWrap .useContent .useTitle {
  text-align: center;
  font-size: 25px;
}
.useContentWrap .useContent .useText {
  font-size: 15px;
  padding: 30px;
}
.useContentWrap .useContent .useText p {
  padding: 10px;
}
.useContentWrap .useContent video {
  display: block;
  width: 100%;
}