.detailTop {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.detailTop .imgWrap {
  width: 50%;
}
.detailTop .imgWrap img {
  width: 100%;
}
.detailTop .contentWrap {
  padding: 50px;
  width: 50%;
}
.detailTop .contentWrap .textWrap {
  line-height: 1.5;
  margin: 10px;
}
.detailTop .contentWrap .textWrap .tag,
.detailTop .contentWrap .textWrap .prodName,
.detailTop .contentWrap .textWrap .price {
  padding: 10px 0 0;
  text-align: center;
}
.detailTop .contentWrap .textWrap .price {
  font-weight: 700;
}
.detailTop .contentWrap .textWrap .prodInfo {
  padding: 20px 0;
  font-size: 14px;
}
.detailTop .contentWrap .btnWrap {
  display: flex;
  align-content: space-between;
}
.detailTop .contentWrap .btnWrap button {
  margin: 0 10px;
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 10px 0;
  border: 1px solid #999;
  background-color: #1c1c1c;
  color: #fff;
}
.detailTop .contentWrap .btnWrap button:hover {
  background-color: #555;
}