@charset "UTF-8";
.map {
  /* 반응형 */
}
.map .topDir {
  width: 90%;
  height: 70px;
  margin: 0px auto;
  padding-top: 40px;
}
.map .topDir ol {
  font-size: 13px;
  display: flex;
}
.map .topDir p {
  margin: 0px 10px;
}
.map main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.map main form {
  width: 100%;
  height: 360px;
  text-align: center;
}
.map main form button {
  width: 80%;
  height: 24px;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}
.map main form input[type=search] {
  width: 80%;
  height: 50px;
  margin-top: 10px;
}
.map .searchBtn {
  position: absolute;
  top: 65%;
  right: 12%;
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  background-color: #1c1c1c;
  color: #fff;
}
.map main div {
  margin: 0px auto;
  text-align: center;
}
.map .mapImg {
  max-width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.map .mapImg img {
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .map main {
    height: 100%;
  }
  .map .searchBtn {
    top: 60%;
  }
  .map .mapImg {
    width: 80%;
    margin-top: -190px;
  }
}