.one {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}
.one .onetitle {
  font-size: 24px;
}
.one .gray {
  color: #aaa;
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
}
.one .red {
  color: #f00;
  line-height: 40px;
}
.one .inquiryForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.one .inquiryForm label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}
.one .inquiryForm input,
.one .inquiryForm select,
.one .inquiryForm textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.one .inquiryForm textarea {
  min-height: 200px;
  resize: none;
}
.one .inquiryForm .buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
}
.one .inquiryForm button {
  padding: 10px 20px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.one .inquiryForm button:hover {
  background-color: #ccc;
}
.one .inquiryForm .cbutton {
  padding: 10px 20px;
  background-color: #fff;
  color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}