.stepContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.step, .stepActive {
  text-align: center;
  width: 25%;
  position: relative;
}

.step > .circle {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.stepActive > .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.step > .label {
  margin-top: 10px;
  font-size: 15px;
  color: #888;
}

.stepActive > .label {
  color: #000;
  padding-top: 10px;
  font-weight: bold;
}

.step:before, .stepActive:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 10px;
  left: -50%;
  z-index: 0;
}

.step:first-child:before, .stepActive:first-child:before {
  display: none;
}