.prodTotal .content {
  margin: 30px 0;
  text-align: center;
  line-height: 1.5;
}
.prodTotal .category {
  text-align: center;
  border-top: 1px dotted #999;
  margin: 50px 0;
}
.prodTotal .category .subTitle {
  margin-top: 30px;
  font-size: 20px;
}
.prodTotal .category a {
  width: 100px;
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px 40px;
  margin: 0 auto;
}

.bestSlide {
  margin: 100px 0px;
}
.bestSlide > div {
  margin: 30px 0px;
  font-family: "NanumMyeongjo";
  text-align: center;
  font-size: 2rem;
}