.search form {
  text-align: center;
  display: block;
  align-items: center;
}
.search form select {
  height: 25px;
  margin: 10px;
}
.search form input {
  height: 20px;
  width: 50%;
}
.search form button {
  height: 26px;
  margin: 10px;
  padding: 5px 20px;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 2px;
}
.search .defContent {
  text-align: center;
  background-color: #fcf9ee;
  margin-bottom: 50px;
}
.search .defContent p {
  margin: 30px;
}
.search .defContent a {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid #e2e1d7;
}
.search .notice {
  margin: 50px;
  text-align: center;
}