@charset "UTF-8";
.wrapper {
  /* 활성화된 메뉴 스타일 */
}
.wrapper .swrapper1,
.wrapper .swrapper2 {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.wrapper .swrapper1 div,
.wrapper .swrapper2 div {
  border: 1px solid #1c1c1c;
  margin: 7px;
  padding: 15px;
  background-color: #fcf9ee;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  text-align: center;
}
.wrapper .swrapper1 div a,
.wrapper .swrapper2 div a {
  text-decoration: none;
  color: #1c1c1c;
}
.wrapper .swrapper1 div:hover,
.wrapper .swrapper2 div:hover {
  background-color: #f0f0f0;
  border-color: #aaa;
}
.wrapper .swrapper1 div.active,
.wrapper .swrapper2 div.active {
  font-weight: 800;
  color: #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  border-style: dashed;
}
.wrapper .swrapper1 div.active a,
.wrapper .swrapper2 div.active a {
  color: #1c1c1c;
}