.memberlist {
    .searchcontainer {
        display: flex;
        align-items: center;
        gap: 10px;
        .deletebutton {
            padding: 10px 10px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #6c757d;
            color: white;
        }
    }

    .chgstatus {
        padding: 10px 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: #007bff;
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        tr:nth-child(1) {
            input[type='checkbox'] {
                margin-right: 5px;
            }
            background-color: #ddd;
            height: 20px;
            line-height: 20px;
        }
    }

    tr {
        td {
            padding: 10px;
            font-size: 14px;
            border-bottom: 1px solid #ccc;
            .link {
                color: #007bff;
            }
        }
    }
}
