.wrapper{
    background-color: #fcf9ee;
    margin: 10px 20px;
}
.tterms{
    font-weight: bold;
    text-decoration: underline;
    line-height: 24px;
    
}
.hli{
    list-style-type: '-';
}
p{
    line-height: 24px;
}