.wrapper {

    .swrapper1,
    .swrapper2 {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;

        div {
            border: 1px solid #1c1c1c;
            margin: 7px;
            padding: 15px;
            background-color: #fcf9ee;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.3s ease;
            text-align: center;

            a {
                text-decoration: none;
                color: #1c1c1c;
                font-size: 14px;
            }

            &:hover {
                background-color: #f0f0f0;
                border-color: #aaa;
            }
        }
    }

    /* 활성화된 메뉴 스타일 */
    .swrapper1 div.active,
    .swrapper2 div.active {
        font-weight: 800;
        color: #1c1c1c;
        border-bottom: 1px solid #1c1c1c;
        border-style: dashed;

        a {
            color: #1c1c1c;
            font-size: 14px;
        }
    }
}