@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

.rwrapper {
    display: flex;
    flex-wrap: wrap;

    .rinput {
        width: 80%;
    }

    .rseoul,
    .rselect {
        width: 20%;
    }
}

.content {
    width: 50%;
    margin-top: 100px;
}

.rimgbox {
    width: 50%;

    img {
        width: 100%;
    }
}

.rtext h2 {
    font-family: 'NanumMyeongjo';
    font-size: 28px;
    margin-bottom: 30px;
}

.rtext > div {
    line-height: 30px;
    font-family: 'NotoSansKR';
    font-size: 20px;
    margin-bottom: 30px;
    width: 85%;
}

.rating .labelbox {
    display: flex;
    gap: 10px;
}

.rating {
    margin-bottom: 20px;

    legend {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

.checkbox i {
    font-size: 24px;
    cursor: pointer;
}

.fa-regular {
    color: #ccc;
}

.fa-solid {
    color: #1c1c1c;
}

.recommend {
    margin-top: 20px;
}

.rtitle {
    margin-bottom: 20px;

    div {
        margin-bottom: 20px;
    }
}

.recommend .button-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    border: 1px solid #333;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.btn.active,
.btn:hover {
    background-color: #333;
    color: #fff;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.rtitle input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.rreview input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.law {
    color: #aaa;
    padding: 5px;
    font-size: 14px;
    line-height: 18px;
}

.ptitle,
.plus {
    font-size: 16px;
}

.seoul {
    margin-top: 20px;
    margin-bottom: 20px;

    div {
        margin-bottom: 30px;
    }
}

.load {
    margin-bottom: 20px;

    div {
        margin-bottom: 20px;
    }

    button {
        border: 1px solid #333;
        background: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
    }
}

.btnsubmit {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #333;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.rtextarea {
    margin-top: 20px;
    width: 83%;
}

