.container {
    padding: 20px;
    .topboard {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        margin-bottom: 20px;
        padding: 0px 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        Link {
            text-decoration: none;
            text-align: center;
            padding: 10px;
            color: #333;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
        }
    }
}

.chartcontainer {
    .chartbox {
        height: 600px;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
    }
}
