.container {
    display: flex;
    height: 60vh;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            color: #ccc;
        }
    }
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
