.colongnesNav {
    padding: 40px 0;
    display: flex;
    li {
        width: calc(100% / 6);
        border: 1px solid #777;
        border-right: none;
        text-align: center;
        &:last-child {
            border: 1px solid #777;
        }
        a {
            padding: 20px 0;
            display: block;
        }
    }
}
