.note {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    .noteTitle {
        padding: 30px;
    }
    .noteWrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .infoWrap {
            width: calc(100% / 3);
            padding: 20px;
            text-align: center;
            .noteImg {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .noteName {
                padding: 10px;
                text-align: center;
                font-weight: 700;
            }
            .noteIntro {
                line-height: 1.2;
            }
        }
    }
}

@media screen and (max-width: 800px) {
}
@media screen and (max-width: 480px) {
}
