.volumeWrap {
    margin: 20px 0;
    display: flex;
    gap: 10px;

    button {
        display: block;
        width: calc(100% / 3);
        font-size: 13px;
        padding: 10px 0;
        margin: 0 10px;
        border: 1px solid #999;
        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
        &.acitve1 {
            background-color: #1c1c1c;
            color: #fff;
        }
    }
}

@media screen and (max-width: 800px) {
}
@media screen and (max-width: 480px) {
}
