.info-wrap {
    .info-title {
        padding: 30px;
    }
    .info-content {
        position: relative;
        padding: 50px;

        border: 0px solid rgba(225, 228, 230, 0.5);
        border-top-width: 1px;

        transition: all 0.5s;

        &.info-none {
            padding-top: 0;
            padding-bottom: 0;
            height: 0px;
            overflow: hidden;
            transition: all 0.5s;
        }
    }
}
