.note {
    margin-bottom: 40px;
    .noteTitle {
        padding: 20px 30px;
    }
    .noteWrap {
        display: flex;
        align-content: space-between;
        align-items: center;
        .infoWrap {
            padding: 20px;
            .noteImg {
                height: 200px;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 40%;
                }
            }
            .noteName {
                padding: 10px;
                text-align: center;
            }
            .noteIntro {
                line-height: 1.2;
            }
        }
    }
}
