.detail-top {
    display: flex;
    align-items: center;
    align-content: space-between;
    .img-wrap {
        width: calc(100% / 2);
        img {
            width: 100%;
        }
    }
    .content-wrap {
        padding: 50px;
        width: calc(100% / 2);
    }
}
