.note {
    margin-bottom: 40px;
    .noteTitle {
        padding: 20px 30px;
    }
    .noteWrap {
        display: flex;
        justify-content: space-between;
        .infoWrap {
            padding: 20px;
            .noteImg {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .noteName {
                padding: 10px;
                text-align: center;
            }
            .noteIntro {
                line-height: 1.2;
            }
        }
    }
}

@media screen and (max-width: 800px) {
}
@media screen and (max-width: 480px) {
}
