.detailTop {
    display: flex;
    align-items: center;
    align-content: space-between;
    .imgWrap {
        width: calc(100% / 2);
        img {
            width: 100%;
        }
    }
    .contentWrap {
        padding: 50px;
        width: calc(100% / 2);
        .textWrap {
            line-height: 1.5;
            margin: 10px;
            .tag,
            .prodName,
            .price {
                padding: 10px 0 0;
                text-align: center;
            }
            .price {
                font-weight: 700;
            }
            .prodInfo {
                padding: 20px 0;
                font-size: 14px;
            }
        }
        .btnWrap {
            display: flex;
            align-content: space-between;
            button {
                margin: 0 10px;
                display: block;
                width: 100%;
                font-size: 15px;
                padding: 10px 0;
                border: 1px solid #999;
            }
        }
    }
}

.volumeWrap {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    button {
        display: block;
        width: calc(100% / 3);
        font-size: 13px;
        padding: 10px 0;
        margin: 0 10px;
        border: 1px solid #999;
        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
        &.acitve {
            background-color: #1c1c1c;
        }
    }
}
