.useContentWrap {
    width: 70%;
    border: 1px solid #999;
    margin: 40px auto;
    display: flex;
    align-content: space-between;
    align-items: center;
    box-sizing: border-box;
    .useContent {
        width: calc(100% / 2);
        .useTitle {
            text-align: center;
            font-size: 25px;
        }
        .useText {
            font-size: 15px;
            padding: 30px;
            p {
                padding: 10px;
            }
        }
        video {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
}
@media screen and (max-width: 480px) {
}
