.home_top {
    .title {
        padding: 30px;
        font-size: 30px;
        text-align: center;
    }
    .content {
        padding: 30px;
        font-size: 15px;
        text-align: center;
        p {
            line-height: 1.5;
        }
    }
    img {
        width: 100%;
    }
}
