.wrapper{
    margin: 0 auto;
    width: 85%;
    .pp{
        margin-bottom: 30px;
    }
}

.imgwrapper {
    display: flex;
    .stitle{
        font-size: 24px;
        font-family: 'NanumMyeongjo';
    }
    p{
        font-family: 'NotoSansKR';
        margin-bottom: 20px;
        padding-right: 50px;
    }
}
.stitle {
    font-size: 24px;
    font-family: 'NanumMyeongjo';
    margin-top: 20px;
    margin-bottom: 20px;

}

.mmore{
    display: block;
    margin-top: 20px;
    text-decoration: underline;
}
// .Story_tbox1{
//     .ctitle {
//         font-size: 24px;
//         font-weight: 800;
//         margin-bottom: 30px;
        
//     }
// }

.cbox1 {
    display: flex;
    width: 95%;
    margin: 0 auto;

    
    .tbox1 {
        margin-top: 50px;
        width: 70%;
        .ctitle{
            font-size: 24px;
            font-family: 'NanumMyeongjo';
        }
        p{
            margin-top: 20px;
            line-height: 24px
        }
    }
    
    .cimg1 {
        width: 100%;
    }

    p {
        line-height: 24px;
    }
}

.sbox1 {
    display: flex;

    .tbox1 {
        width: 100%;
    }

    .cimg1 {
        width: 100%;
    }

    p {
        line-height: 24px;
    }

    .stitle {
        margin-bottom: 50px;
    }

    padding-bottom: 50px;
}

.tbox2 {
    display: flex;
    line-height: 24px;
    border-top: 1px solid #ccc;

    p {
        margin-left: 30px;
    }

    .ctitle {
        font-size: 24px;
        line-height: 30px;
    }

    padding-top: 30px;
    padding-bottom: 20px;
}

.tbox3 {
    margin-top: 30px;
    display: flex;
    line-height: 24px;
    width: 97%;

    p {
        margin-left: 30px;
        width: 90%;
    }

    .ctitle {
        width: calc(100%/3);
        line-height: 30px;
        font-size: 24px;
        font-family: 'NanumMyeongjo';
    }
}

.tbox4 {
    margin-top: 30px;
    display: flex;
    // border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;

    .ctitle {
        width: calc(100%/3);
        line-height: 30px;
        font-size: 24px;
        font-family: 'NanumMyeongjo';
    }
    p {
        width: calc(120%/3);
        // line-height: 24px;
        margin-left: 30px;
        padding-right: 20px;
    }
}

.ibox1 {
    display: flex;

    img,
    div {
        width: calc(100% / 3);
    }

    img {
        margin: 10px
    }

    padding-bottom: 30px;
}

.uni {
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.ibox2 {
    display: flex;

    .cimg2 {
        justify-content: center;
    }
}

.tbox3 {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 20px;

    .ctitle {
        width: 80%;
    }
}


.tbox7 {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;

    .stitle {
        width: 60%;
        line-height: 30px;
    }

    .ttbox1 {
        width: 90%;
        margin-right: 30px;
    }

    .ttbox2 {
        width: 80%;
    }

    p {
        line-height: 25px;
    }

    li {
        list-style: '-';
    }
}

.simg1 {
    padding-bottom: 40px;
}

.pbox1 {
    display: flex;
    padding-bottom: 30px;

    .tbox1 {
        width: 60%;
    }

    .stitle {
        padding-bottom: 30px;
    }

    .cimg1 {
        width: 90%;
    }

    p {
        line-height: 24px;
    }

}

.iwrapper {
    margin-right: 20px;
    padding-bottom: 70px;
}

.cimg27 {
    margin: 0 auto;
}
.more{
    text-decoration: underline;
}