.navbarContainer {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fcf9ee;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}

.leftLinks,
.centerLinks,
.rightLinks {
    display: flex;
    gap: 20px;

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            font-weight: bold;
            color: #000;
        }
    }
}

.centerLinks {
    justify-content: center;
    gap: 30px;
}

.rightLinks {
    justify-content: flex-end;
}
