/* ViewOrders CSS */
/* 주문 리스트 컨테이너 */
.Dorderlistcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .Dblock {
        background-color: #fefcfa;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;

        /* 주문 헤더 */
        .Dorderheader {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 15px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
        }
    }

    /* 주문 리스트 */
    .Dorderlist {
        display: flex;
        top: 20px;
        align-items: center;
        gap: 10px;

        /* 주문 리스트 타이틀 스타일 */
        .Dorderlistheader {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
            padding: 15px 0;
            color: #333;
            margin-top: 20px;
        }

        /* 주문 리스트 항목 */
        .Dorderlistitem {
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            color: #333;
            text-align: center;
            padding: 15px 0;
            :hover {
                background-color: #f9f9f9;
            }
        }
    }
}
